PUBLIC_SITE_URL=https://saludneurofuncional.pages.dev
CALCOM_BOOKING_URL=https://cal.com/ramon-pizana
CLINIC_NAME=Salud Neurofuncional
CLINIC_TIMEZONE=America/Mexico_City
CLINIC_LOCATION_LABEL=Consultorio Salud Neurofuncional
DEFAULT_COUNTRY_DIAL_CODE=+52
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_MESSAGING_SERVICE_SID=
CALCOM_WEBHOOK_SECRET=
TWILIO_CONTENT_SID_BOOKING_CREATED=
TWILIO_CONTENT_SID_BOOKING_RESCHEDULED=
TWILIO_CONTENT_SID_BOOKING_CANCELLED=
