PUBLIC_SITE_URL=https://saludneurofuncional.pages.dev
CALCOM_BOOKING_URL=https://cal.com/ramon-pizana
CLINIC_NAME=Salud Neurofuncional
CLINIC_TIMEZONE=America/Mexico_City
CLINIC_LOCATION_LABEL=Consultorio Salud Neurofuncional
DEFAULT_COUNTRY_DIAL_CODE=+52
WHATSAPP_PROVIDER=twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_MESSAGING_SERVICE_SID=
CALCOM_WEBHOOK_SECRET=
TWILIO_CONTENT_SID_BOOKING_CREATED=
TWILIO_CONTENT_SID_BOOKING_RESCHEDULED=
TWILIO_CONTENT_SID_BOOKING_CANCELLED=
META_APP_SECRET=
META_WHATSAPP_ACCESS_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_BUSINESS_ACCOUNT_ID=
META_WHATSAPP_VERIFY_TOKEN=
META_WHATSAPP_API_VERSION=v25.0
META_TEMPLATE_LANGUAGE_CODE=en_US
META_TEMPLATE_BOOKING_CREATED=
META_TEMPLATE_BOOKING_RESCHEDULED=
META_TEMPLATE_BOOKING_CANCELLED=
